<h1 class="calc-title">Income Tax Calculator</h1>
<div class="calc-container">
    <div class="calc-form">
        <form action="get">
            <label for="province">Current Province:</label>
            <select name="province" id="province">
                <option value="0">AB</option>
                <option value="0">ON</option>
                <option value="0">SK</option>
                <option value="0">NB</option>
                <option value="0">NS</option>
            </select>
            <label for="empIncome">Income:</label>
            <input type="text" name="empIncome" id="empIncome">
            <label for="selfEmpIncome">Self-employed Income:</label>
            <input type="text" name="selfEmpIncome" id="selfEmpIncome">
            <label for="otherIncome">Other Income:</label>
            <input type="text" name="otherIncome" id="otherIncome">
            <label for="rrsp">RRSP Contributions:</label>
            <input type="text" name="rrsp" id="rrsp">
            <label for="capGains">Captial gains:</label>
            <input type="text" name="capGains" id="capGains">
            <label for="dividends">Eligible dividends:</label>
            <input type="text" name="dividends" id="dividends">
            <label for="taxes">Federal Taxes paid:</label>
            <input type="text" name="taxes" id="taxes">
        </form>
    </div>
    <div class="output-calc-data">
        <h1>test</h1>
    </div>
    <div class="calc-img">
        <img src="images/pexels-pixabay-53621.jpg" alt="" style="width:100%;">
    </div>
</div>