<div class="finances-container">
    <div class="personal-col">
        <h3>Monthly Income</h3>
        <h3 id="monthlyIncome" class="financeAmts">$5500.00</h3>
        <h3>Monthly Expenses:</h3>
        <h3 id="monthlyExpense" class="financeAmts">$5000.00</h3>
        <br>
        <h3>Expenses Overview:</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Cost</th>
            </tr>
            <tr>
                <td>Mortgage</td>
                <td>$1200.00</td>
            </tr>
            <tr>
                <td>Car Loan</td>
                <td>$300.00</td>
            </tr>
            <tr>
                <td>Internet</td>
                <td>$150.00</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>$150.00</td>
            </tr>
            <tr>
                <td>Gas</td>
                <td>$200.00</td>
            </tr>
        </table>     
        <a href="#"><button>Add monthly expense</button></a>
        <a href="#"><button>Remove monthly expense</button></a>
        <a href="#" id="detailedExp">See detailed list of monthly expenses</a>  
    </div>
    <div class="main-finances">
        <h1>Finances</h1>
        <div id="piechart"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/finance.js"></script>