<div class="l_r-container">
    <h1>Register</h1>

    <form action="post">
        <div class="input-group">
            <label for="userName">User Name:</label>
            <input type="text" name="userName" id="userName" autocomplete="off">
        </div>        
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>   
        <div class="input-group">
            <label for="conPassword">Confirm Password:</label>
            <input type="password" name="conPassword" id="conPassword">
        </div>   
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>    
        <div class="input-group">
            <label for="conEmail">Confirm Email:</label>
            <input type="email" name="conEmail" id="email">
        </div>   
        <br>
        <button disabled>Register</button>
    </form>
</div>