<footer>
    <div class="footer-section">
        <p>Brian Aylward <br>&copy; 2021</p>
    </div>
    <div class="footer-section">
            <h3>Exile Finances</h3>
            <a href="#">About</a>
            <a href="#">About</a>
            <a href="#">About</a>
    </div>
    <div class="footer-section">
        <a href=""><i class="fab fa-linkedin"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
    </div>
</footer>