@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.3rem;
}

.navBar #logo {
  padding: .5rem;
  max-height: 100px;
}

.navBar .navList,
.navBar .login-register {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar .navList a,
.navBar .login-register a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navBar .navList a:hover,
.navBar .login-register a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #1c50e0;
}

.navBar .navList {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
}

.navBar .login-register {
  margin-right: 1rem;
}

.navBar .login-register li {
  margin: 0 .2rem;
}

.navBar .hamburger {
  display: none;
  z-index: 99;
  width: 2.5em;
  height: 2em;
  position: relative;
  cursor: pointer;
  margin-right: .4rem;
}

.navBar .hamburger .hamburger_line {
  height: 2px;
  border-radius: 50px;
  width: 100%;
  background-color: #000;
  margin: 8px 0;
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

.navBar .hamburger .line1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 12px;
}

.navBar .hamburger .line2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  bottom: 11px;
}

@media only screen and (max-width: 1200px) {
  .navBar .navList,
  .navBar .login-register {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navBar .navList a,
  .navBar .login-register a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .navBar .navList a:hover,
  .navBar .login-register a:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    color: #1c50e0;
  }
  .navBar .navList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-color: #fff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  }
  .navBar .toggle {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navBar .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .navBar .navList {
    width: 80%;
  }
}

.hero {
  min-height: 600px;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, white), to(rgba(255, 255, 255, 0))), url("../images/pexels-essow-936722.jpg") top right fixed no-repeat;
  background: linear-gradient(90deg, white 10%, rgba(255, 255, 255, 0)), url("../images/pexels-essow-936722.jpg") top right fixed no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-info {
  width: 50%;
  padding: 4rem;
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: 15px;
}

.hero .hero-info h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-weight: 300;
}

.hero .hero-info h3 {
  font-size: clamp(1.2rem, 1.3vw, 2rem);
  font-weight: 400;
}

.hero .hero-info p {
  font-size: clamp(1rem, 1vw, 1.2rem);
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .hero .hero-info {
    padding: 2rem 1rem;
    width: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .hero .hero-info {
    width: 100%;
  }
}

.info-caption {
  padding: 3rem;
  width: 100%;
  text-align: center;
}

.info-cards {
  width: 75%;
  margin: 1rem auto;
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
}

.info-cards .card {
  border-radius: 15px;
  overflow: hidden;
}

.info-cards .card img {
  max-width: 100%;
}

.info-cards .card .card-info {
  padding: 0 1rem 1rem 1rem;
}

.info-cards .card .card-info h2 {
  margin-bottom: .5rem;
  text-align: center;
}

.info-cards .card .card-info button {
  padding: .5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: #1c50e0;
  color: #fff;
  font-weight: 400;
  margin: 1rem 0 0 auto;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.info-cards .card .card-info button:hover {
  background-color: #39aef1;
  font-weight: 600;
  color: #000;
}

footer {
  border-top: 1px solid #000;
  border-radius: 40px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}

footer .footer-section {
  text-align: center;
}

footer .footer-section h3 {
  position: relative;
  margin-bottom: .5rem;
}

footer .footer-section h3::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  width: 50%;
  height: 1px;
  background-color: #000;
}

footer .footer-section p {
  font-size: .8rem;
}

footer .footer-section a {
  text-decoration: none;
  color: #000;
}

footer .footer-section a:hover {
  color: #1c50e0;
}

footer .footer-section a i {
  font-size: 2rem;
}

.l_r-container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

.l_r-container p {
  text-align: center;
}

.l_r-container form {
  margin: 3rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l_r-container form .input-group {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l_r-container form .input-group input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 15px;
  padding: 1rem .8rem 0 .5rem;
  margin: .5rem 0;
}

.l_r-container form .input-group #email {
  width: 80%;
}

.l_r-container form button {
  font-family: 'Montserrat', sans-serif;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  background-color: #1c50e0;
  color: #fff;
  border: none;
  cursor: pointer;
  min-width: 100px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.l_r-container form button:hover {
  background-color: #39aef1;
  font-weight: 600;
  color: #000;
}

@media only screen and (max-width: 800px) {
  .l_r-container {
    width: 100%;
    padding: 0;
  }
  .l_r-container form {
    margin: 1rem 0;
  }
  .l_r-container form .input-group {
    width: 100%;
    margin: 1rem 0;
  }
  .l_r-container form .input-group input {
    padding: 0;
    margin: 0;
  }
  .l_r-container form button {
    padding: .5rem 1rem;
    min-width: 100px;
  }
  .l_r-container p {
    margin: 1rem 0;
  }
}

.finances-container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.finances-container .personal-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  width: 20%;
  text-align: center;
  padding: 1rem;
  background-color: #eee;
  border-right: 1px solid #000;
}

.finances-container .personal-col .financeAmts {
  font-weight: 300;
}

.finances-container .personal-col table {
  margin: 0 auto 2rem auto;
  text-align: left;
}

.finances-container .personal-col table th,
.finances-container .personal-col table td {
  padding: 0 1rem;
}

.finances-container .personal-col button {
  padding: .3rem .6rem;
  border: none;
  background-color: #1c50e0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: .2rem;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 1rem;
  font-weight: 300;
}

.finances-container .personal-col button:hover {
  background-color: #39aef1;
  font-weight: 600;
  color: #000;
}

.finances-container .personal-col #detailedExp {
  margin-top: 1rem;
}

.finances-container .main-finances {
  width: 80%;
}

.finances-container .main-finances h1 {
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.3;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.container {
  padding-top: 116px;
}
/*# sourceMappingURL=style.css.map */